.top {
  background-color: #fff;
  padding: 0 40px;
  box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 4%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 780px) {
    flex-direction: column;
    padding-bottom: 20px;
    input {
      width: 100%;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  @media (max-width: 390px) {
    flex-direction: column;
  }
}
.menuItem {
  a {
    display: block;
    font-size: 17px;
    padding: 18px 30px;
    transition: all 0.3s ease;
    &:hover {
      background: rgba($color: #bcebf3, $alpha: 0.3);
    }
  }
}
